{% extends 'base.html' %}
{% block title %}Edit Food{% endblock %}
{% block content%}

<h3>{{item.food_name}}</h3><br>
<div class="admin-edit-food ">
  
    <form method="POST" action="{{url_for('menu.update_menu_items',id=item.id)}}">
     
      <!--Food Name-->
        <div class="fields">
            <label for="title" >Food Name:</label><br>
          <input value="{{item.food_name}}" type="text"  name="food_name" >
        </div>
      <!--Description-->
        <div  class="fields">
          <label for="description"  >Food Description:</label><br>
          <input name="food_description"  value="{{item.food_description}}" type="text"   >
        </div>
        <!--Price-->
        <div  class="fields">
          <label for="price"  >Food Price:</label><br>
          <input name="food_price"  value="{{item.food_price}}" type="number"   >
        </div>
  
         <!--Quantity-->
         <div  class="fields">
          <label for="qty"  >Food Quantity:</label><br>
          <input name="food_stock_quantity"  value="{{item.food_stock_quantity}}" type="text"   >
        </div>
         <!--Image Url-->
         <div  class="fields">
          <label for="url"  >Food Image Url:</label><br>
          <input name="image_url"  value="{{item.image_url}}"type="text"   >
        </div>
        <br>
          <!--Login button-->
        <div style="padding;20px;margin-top:20px">
    
            <button type="submit" class="login-btn">Update</button>
      
        </div>
    
      </form>
       
   
    
  </div>




  
{%endblock%}