{% extends "base.html" %}
{% block content %}
<div  style="margin-bottom:50px;margin-top:50px;margin-left:500px;display:flex;flex-direction:row;align-content:center">
    <p>Customer Orders</p>
  
 
</diV>
   


<div class="table">
    <table>
      <tr>
        <th>Order ID</th>
        <th>Customer ID</th>
        <th>Food ID</th>
        <th>Order Quantity</th>
        <th>Date of Order</th>
        <th>Order Status</th>
        <th>View Order</th>
        <th>Delete Order</th>
        <th>Update</th>
      
      </tr>
      {% for order in orders %}
      <tr>
        <td>{{order.id}}</td>
        <td>{{order.user_id }} </td>
        <td>{{order.food_id }}</td>
        <td>{{order.quantity }}</td>
        <td>{{order.date_created}}</td>
        <td>{{order.status}}</td>
        <td><button  class="btn-table-delete">View</button>
        <td><button  class="btn-table-delete">Delete</button>
        <td><button  class="btn-table-update" >Update</button></td>
  
      </tr>
{%{% endfor %}%}    
</table>
  </div>
     
{% endblock content %}