{% extends "base.html" %}
{% block content %}
<div  style="margin-bottom:50px;margin-top:50px;margin-left:500px;display:flex;flex-direction:row;align-content:center">
    <p>FOOD PRODUCTS</p>
   
 
</diV>
   
<!--looping into the users table-->

<p></p>

<div >
    <table class="table">
      <tr>
        <th>Food ID</th>
        <th>Food Name</th>
        <th>Food Description</th>
        <th>Food Price</th>
       <th>Food Stock Quantity</th>
       <th>Food Image</th>
        <!--<th>Food Image Url</th>-->
        <th>Date Created</th>
        <th>Edit</th>
        <th>Delete</th>
     
     
      </tr>
      {% for item in items %}
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.food_name}} </td>
        <td>{{item.food_description}}</td>
        <td>{{item.food_price}}</td>
        <td>{{item.food_stock_quantity}}</td>
        <td><img  class="admin-food-image" src={{item.image_url}} alt="food-image" ></td>
        <td>{{item.date_created}}</td>
        <td><button  ><a href= "{{url_for('menu.edit_menu_items',id=item.id)}}"><i class="fa fa-pencil-square-o"></i></a></button>
        <td><button class="btn-table-delete" ><a href={{ url_for('menu.delete_menu_item',id=item.id) }}><i  class="fa fa-trash"></i></a></button>
       <!-- <td><button  class="btn-table-update" ><i class="fa fa-refresh"></i></button></td>-->
  
      </tr>
      {%endfor%}
      
    </table>
  </div>

{% endblock content %}