{% extends "base.html" %}
{% block content %}
   

<div class= "products-search">
    <p class="all-food">All Food Items</p>
 
    <input value="Search for food"/>
</div>
 

 <div class="container-products">
    {%for item in items%}

      <div class="product">
      
      <div class="card-body">
        <img   src={{item.image_url}} alt="Avatar" >
        <p>{{item.food_name}}</p>
        <p>{{item.food_price}}</p>
     
       
      <button  class="txt-to-cart"><a href="{{url_for('menu.single_menu_item', id=item.id)}}">View Food</button>
  
    </div>
    </div>

 
    {%endfor%}
   
      
    </div>

{% endblock content %}