{% extends "base.html" %}
{% block content %}
   

<div class= "products-search">
    <p class="all-food">All Food Items</p>
 
    <input value="Search for food"/>
</div>
 

 <div class="container-products">
    {%for item in items%}

      <div class="product">
      <img   src={{item.image_url}} alt="Avatar" >
      <div class="name">
        <p>{{item.food_name}}</p>
        <p>{{item.food_price}}</p>
      <p ><a href="{{url_for('menu.view_menu_item',id=item.id)}}" ><span class="txt-to-cart">View Item</span></a></p>
     </div>
    </div>

 
    {%endfor%}
   
      
    </div>

{% endblock content %}