{% extends "base.html" %}
{% block content %}
   

<div class= "products-search">
    <p class="all-food">2 Products In Cart</p>
    <p class="all-food">Total Cost: USH 20000</p>
    <p class="all-food"><a href="{{ url_for('orders.user_order') }}">Checkout Order</a></p>
</div>
 

 <div class="cart-wrapper">
    <div style="display:flex;flex-direction:column;align-items:center">
        <img  style="width:80px;height:80px;border-radius:360px"src={{url_for('static', filename='/assets/chicken.png')}} alt="Avatar" >
        <div class="name">
            <p>Burger</p>
            <p>USH 20000</p>
            <p>Chicken Burger with vegetable <br>salads served with chili</p>
            <p style="font-weight:bold;width:50px;margin:auto;color:black">1</p>
            <br>
            <div style="display:flex;flex-direction:row;align-items:center'justify-content:space-around">
             
              <p style="background-color:#8EC039;width:50px;margin:auto;color:white">+</p>
              <p style="background-color:#8EC039;width:50px;margin:auto;color:white">-</p>
            <p style="background-color:red;width:50px;margin:auto;color:white">Delete</p>
            </div>
           
        </div>
      </div>

      
      <div style="display:flex;flex-direction:column;align-items:center">
        <img  style="width:80px;height:80px;border-radius:360px"src={{url_for('static', filename='/assets/chicken.png')}} alt="Avatar" >
        <div class="name">
            <p>Burger</p>
            <p>USH 20000</p>
            <p>Chicken Burger with vegetable <br>salads served with chili</p>
            <p style="font-weight:bold;width:50px;margin:auto;color:black">1</p>
            <br>
            <div style="display:flex;flex-direction:row;align-items:center'justify-content:space-around">
             
              <p style="background-color:#8EC039;width:50px;margin:auto;color:white">+</p>
              <p style="background-color:#8EC039;width:50px;margin:auto;color:white">-</p>
            <p style="background-color:red;width:50px;margin:auto;color:white">Delete</p>
            </div>
           
        </div>
      </div>
      
    </div>
     
{% endblock content %}