{% extends "base.html" %}
{% block content %}
   

<div class= "products-search">
    <p class="all-food">All Food Items</p>
    <input value="Search for food"/>
</div>
 

 <div class="container">
    <div class="card">
        <img  class="products" src={{url_for('static', filename='/assets/chicken.png')}} alt="Avatar" >
        <div class="name">
            <p>Burger</p>
            <p>USH 20000</p>
          <p style="background-color:orange;color:white">Add to cart</p>
        </div>
      </div>
      <div class="card">
        <img  class="products" src={{url_for('static', filename='/assets/chicken.png')}} alt="Avatar" >
        <div class="name">
            <p>Burger</p>
            <p>USH 20000</p>
            <p>4 items<p>
          <p style="background-color:orange;color:white">Add to cart</p>
        </div>
      </div>

{% endblock content %}