{% extends "base.html" %}
{% block content %}
<div  style="margin-bottom:50px;margin-top:50px;margin-left:500px;display:flex;flex-direction:row;align-content:center">
    <p>CUSTOMERS</p>
   
 
</diV>
   
<!--looping into the users table-->
{% for user in users %}
<p></p>

<div >
    <table class="table">
      <tr>
        <th>Customer  ID</th>
        <th>Customer  Name</th>
        <th>Customer Email</th>
        <th>Customer Contact</th>
        <th>Date Created</th>
        <th>Delete</th>
        <th>Update</th>
     
      </tr>
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.username }} </td>
        <td>{{user.email }}</td>
        <td>{{user.phone_number }}</td>
        <td>{{user.date_created}}</td>
        <td><button  class="btn-table-delete">Delete</button>
        <td><button  class="btn-table-update" >Update</button></td>
  
      </tr>
   
      
    </table>
  </div>
  {%endfor%}
{% endblock content %}