{% extends "base.html" %}
{% block content %}
   
<div style="margin-bottom: 20px;">

 


    <div class="card">
        <img  class="products" src={{item.image_url}} alt="food-image" >
        <div class="name">
            <p>{{item.food_name}}</p>
            <p>USH {{item.food_price}}</p>
            <p>{{item.food_description}}</p>
            <br>
          <p style="background-color:#8EC039;width:100px;margin:auto;color:white">Add to cart</p>
        </div>
  </div>
     
{% endblock content %}