<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Cart </title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link rel="stylesheet" href="../static/styles/base.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <header id="header">

        <!--Navbar-->
        <nav>
            <ul>

                <li><a class="active" href="./home.html"><span style="color:#8EC039">Home</span></a></li>
                <li><a href="./all-menu-items.html">Menu</a></li>
                <li><a href="./admin-dashboard.html">Admin</a></li>
                <li><a href="./cart.html"><i class=" fa fa-shopping-cart" style="color:white"></i></a></li>


                <li><a href="./user-login.html">Login</a></li>


                <li><button style="margin-left:10px;margin-bottom:10px;border-radius:20px;background-color: #82B440;border: none;margin-top: 20px;width: 100px; height: 30px"><span style="color:white;font-size:15px">Logout</span></button> </li>
            </ul>
            <nav>
    </header>


    <div class="row">

        <h3 class="bold">
            <i class="glyphicon glyphicon-shopping-cart"></i> Your Shopping Cart
        </h3>

        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <h3>ITEM</h3>
                    </th>
                    <th>NAME</th>
                    <th>
                        <h3>PRICE</h3>
                    </th>
                    <th>
                        <h3>QUANTITY</h3>
                    </th>
                    <th>
                        <h3>TOTAL</h3>
                    </th>

                </tr>
            </thead>
            <tbody class="tb-body">
                <tr>
                    <td><input type="checkbox"></td>
                    <td>
                        <img src=""></td>
                    <td>
                        <h3 class="item-name ">Strawberry Cake</h3>
                    </td>
                    <td>
                        <h3>$100</h3>
                    </td>
                    <td><input type='number' class='num' value='1'></td>
                    <td>
                        <h3>$100</h3>
                    </td>
                    <td><button class="btn-remove " type="button ">Remove</button></td>
                </tr>


            </tbody>
            <tr>
                <td><input type="checkbox "></td>
                <td><img width="40 " alt=" "></td>
                <td>
                    <h3 class="item-name "><strong>Grand-Total</strong></h3>
                </td>
                <td>
                    <h3></h3>
                </td>
                <td>
                    <h3></h3>
                </td>
                <td>
                    <h3><strong>$0</strong></h3>
                </td>

            </tr>
        </table>

    </div>

    <!-- Footer -->
    <footer>


        <div style="display: flex; flex-direction: column">
            <div style=" display: flex;flex-direction: row; justify-content: space-evenly; ">


                <a href="https://www.facebook.com/gorretgolden">
                    <img src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/facebook-512.png" style="width: 40px;height:40px">
                </a>
                <a href="https://www.facebook.com/gorretgolden">
                    <img src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/facebook-512.png" style="width: 40px;height:40px">
                </a>



                <a href="https://www.linkedin.com/">
                    <img src="https://cdn.iconscout.com/icon/free/png-256/linkedin-3691226-3073746.png" style="width: 40px;height:40px">

                </a>





            </div>
            <div class="footer-copyright text-center ">© 2022 Copyright reserved Golden Restaurant Social media links
            </div>
            <br>
        </div>
        <br/>


    </footer>
    <!-- Footer -->

    <!-- JavaScript Bundle with Popper -->
    <!-- <script src="https://kit.fontawesome.com/0000000000.js" crossorigin="anonymous"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>


</html>